/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #222dd4;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px 0;
}

section {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
}

.game-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.game {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}

.game img {
    width: 100%;
    border-radius: 1px
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
